---
pagination:
  data: sketches
  size: 1
  alias: sketch
permalink: /sketches/{{ sketch.title | slugify }}/
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ title }}</title>
  </head>

<body>
  <div id="header">
    {% include "_includes/header.html" %}
  </div>
<div id="container">
        <div class="main">
            <div class=box>
                <div class="post-top">
                    <h4>{{ sketch.date | toLuxonDateTime | readableDate }}</h4>
                    <h1>{{ sketch.title }}</h1>
                </div>
                <div class=inner>
                  {% for image in sketch.image %}
                  <img class="postimg" src="{{ image.src }}" alt="{{ sketch.title }}">
                  {% endfor %}
                  <p>{{ sketch.desc }}</p>
                </div>
            </div>
          </div>
        
          
          <div class="sidebar-right">
            {% include "_includes/sidebar.html" %}
          </div>
          
</div>
<div id="footer">
  {% include "_includes/footer.html" %}
</div>
</body>
</html>